@model IEnumerable<_18EFDataApp.Models.Phone>
@{
    ViewData["Title"] = "Все смартфоны";
}
<h3>Список телефонов</h3> <br/>
<a asp-action="Create" class="btn btn-default">Создать</a> 
<p></p><br />


<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td><a asp-action="Details" asp-controller="Home" asp-route-id="@item.Id">Подробнее</a>
                <a asp-action="Edit" asp-controller="Home" asp-route-id="@item.Id">Изменить</a>
                <a asp-action="Delete" asp-controller="Home" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
    }
</table>

